Repository ai-cherry/sophia-ai-intel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceo, @sophiaai-admin, @lead-developer, @senior-developer, @content-lead, @technical-writer, @database-admin

.github/CODEOWNERS:

# Sophia AI Intelligence Platform - Code Ownership
# =================================================
# 
# This file defines who must review code changes to specific parts of the codebase.
# All pull requests, especially those from the Sophia Builder, require CEO approval.

# Global defaults - CEO approval required for all changes
* @ceo @sophiaai-admin @lead-developer

# Infrastructure and deployment - CEO + Admin required
/.github/ @ceo @sophiaai-admin
/scripts/ @ceo @sophiaai-admin
/fly.toml @ceo @sophiaai-admin
/.env* @ceo @sophiaai-admin
/docker* @ceo @sophiaai-admin
/.infra/ @ceo @sophiaai-admin

# Core services - CEO approval required
/services/ @ceo @sophiaai-admin @lead-developer
/apps/ @ceo @sophiaai-admin @lead-developer

# Libraries and frameworks - Technical approval required
/libs/ @ceo @lead-developer @senior-developer
/packages/ @ceo @lead-developer @senior-developer

# Security and authentication
/libs/persona/ @ceo @sophiaai-admin
/libs/execution/ @ceo @sophiaai-admin
/libs/validation/ @ceo @sophiaai-admin

# Builder system - CEO approval mandatory (Sophia Builder PRs)
/libs/builder/ @ceo @sophiaai-admin
/.github/workflows/sophia-builder.yml @ceo @sophiaai-admin

# Documentation - Content team can approve
/docs/ @ceo @content-lead @technical-writer
/README.md @ceo @content-lead

# Proofs and artifacts - Admin approval sufficient
/proofs/ @sophiaai-admin @lead-developer

# Configuration files - CEO approval required
/package.json @ceo @lead-developer
/tsconfig.json @ceo @lead-developer
/pyproject.toml @ceo @lead-developer
/requirements.txt @lead-developer @senior-developer

# Database schemas and migrations - CEO + DBA approval
/libs/memory/schema.sql @ceo @database-admin
/scripts/*sql @ceo @database-admin

# Special files requiring CEO approval
/LICENSE @ceo
/.gitignore @ceo @lead-developer
/.vscode/ @lead-developer @senior-developer

# Workflow files - CEO approval mandatory
/.github/workflows/ @ceo @sophiaai-admin

# AI-generated code (from Sophia Builder) - Special review process
# These patterns will match PR branches created by the builder
sophia-* @ceo @sophiaai-admin @lead-developer

feat: Complete comprehensive Sophia AI ClientHealthTeam integration summary
  SOPHIA_AI_COMPLETE_DEPLOYMENT_PLAN_OPENROUTER.md
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete ClientHealthTeam agent collaboration framework
  SOPHIA_AI_COMPLETE_DEPLOYMENT_PLAN_OPENROUTER.md
  services/agno-teams/src/business/client_health/client_health_team.py
Owners: @ceo, @sophiaai-admin, @lead-developer

proof: Context indexing run 20250826_023623
  proofs/context/index_run_1756175783.json
Owners: @sophiaai-admin, @lead-developer

proof: Nightly smoke test 20250826 — 2/5 services healthy
  proofs/healthz/nightly/20250826/metrics_summary.json
  proofs/healthz/nightly/20250826/sophiaai-dashboard-v2.txt
  proofs/healthz/nightly/20250826/sophiaai-mcp-business-v2.txt
  proofs/healthz/nightly/20250826/sophiaai-mcp-context-v2.txt
  proofs/healthz/nightly/20250826/sophiaai-mcp-repo-v2.txt
  proofs/healthz/nightly/20250826/sophiaai-mcp-research-v2.txt
Owners: @sophiaai-admin, @lead-developer

feat: Phase 3D Validation and Optimization - Comprehensive testing framework
  scripts/load_testing/gpu_monitor.py
  scripts/load_testing/llm_failover_test.py
  scripts/load_testing/locustfile.py
  scripts/test_complete_integration.py
Owners: @ceo, @sophiaai-admin

feat: Add production deployment scripts and configuration
  .env.production
  SOPHIA_AI_FINAL_DEPLOYMENT_REPORT.md
  docs/production-environment-setup.md
  scripts/check-deployment-status.sh
  scripts/deploy-production-secure.sh
  scripts/deploy-to-lambda-labs.sh
  scripts/env-production-validation.sh
  scripts/fix-kubeconfig-permissions.sh
  scripts/generate-secure-secrets.sh
Owners: @ceo, @sophiaai-admin, @lead-developer, @content-lead, @technical-writer

feat: Complete comprehensive deployment validation and documentation
  FINAL_DEPLOYMENT_VALIDATION_REPORT.md
  MCP_SERVER_CONTEXTUAL_REVIEW.md
  SYSTEM_SCALABILITY_VERIFICATION.md
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Critical configuration fixes and disaster recovery documentation
  .env.example
  docker-compose.yml
  docs/DISASTER_RECOVERY_GUIDE.md
  services/agno-teams/Dockerfile
Owners: @ceo, @sophiaai-admin, @content-lead, @technical-writer, @lead-developer

feat: Production readiness cleanup and comprehensive integration fixes
  .env.new
  .env.production
  INTEGRATION_TESTING_AUDIT_REPORT.md
  QDRANT_LAMBDA_FOCUSED_AUDIT_REPORT.md
  SOPHIA_AI_PHASE3_PHASE4_AUDIT_REPORT.md
  docker-compose.test.yml
  docker-compose.yml
  docs/archive/legacy-platforms/RENDER_FLY_CLEANUP_ASSESSMENT.md
  env_validation_results.json
  external_api_test_report.json
  external_api_test_report_summary.txt
  external_api_test_results.log
  external_services_test_results.json
  k8s-deploy/scripts/fix-secrets-for-testing.py
  k8s-deploy/scripts/fix-secrets-for-testing.sh
  k8s-deploy/secrets/business-secrets.yaml
  k8s-deploy/secrets/database-secrets.yaml
  k8s-deploy/secrets/infrastructure-secrets.yaml
  k8s-deploy/secrets/llm-secrets.yaml
  package.json
  phase3_test_results.log
  qdrant_lambda_focused_test.log
  scripts/env_validation.py
  scripts/external_api_connectivity_test.py
  scripts/fix_qdrant_health_check.py
  scripts/redis_diagnostic.py
  scripts/test_external_apis.py
  scripts/test_external_services.py
  scripts/test_qdrant_lambda_focused.py
  services/agno-coordinator/src/index.ts
  services/mcp-business/app.py
  services/mcp-context/app.py
  services/mcp-github/app.py
  services/mcp-research/app.py
  services/orchestrator/Dockerfile
  tsconfig.json
Owners: @ceo, @sophiaai-admin, @lead-developer, @content-lead, @technical-writer

chore: Remove sensitive environment files from repository
  .env.new
  .env.production
Owners: @ceo, @sophiaai-admin

feat: Enhance deployment script with production stability features
  .github/workflows/production-deployment.yml
  k8s-deploy/deploy.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

fix: Correct YAML syntax error in single-ingress manifest
  k8s-deploy/manifests/single-ingress.yaml
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Production deployment optimization and final release preparation
  k8s-deploy/manifests/mcp-agents.yaml
  k8s-deploy/manifests/mcp-context.yaml
  k8s-deploy/manifests/mcp-research.yaml
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete production CI/CD workflows for Sophia AI v1.1.0
  .github/workflows/nightly_health_proofs.yml
  .github/workflows/production-deployment.yml
Owners: @ceo, @sophiaai-admin

fix: Remove erroneous sonic-ai references from deployment workflows
  .github/workflows/production-deployment.yml
  docs/DEPLOYMENT_CHECKLISTS.md
  docs/OPERATIONAL_RUNBOOK.md
  docs/SERVICE_DEPENDENCIES.md
Owners: @ceo, @sophiaai-admin, @content-lead, @technical-writer

fix: Correct documentation dates to reflect current timeframe
  docs/DEPLOYMENT_CHECKLISTS.md
  docs/DISASTER_RECOVERY.md
  docs/SERVICE_DEPENDENCIES.md
Owners: @ceo, @content-lead, @technical-writer

feat: Complete PHASES 4-5 deployment finalization and handover
  DEPLOYMENT_TRANSFORMATION_SESSION_ANALYSIS.md
  HANDOVER_PACKAGE.md
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add comprehensive external service validation scripts
  scripts/lambda_smoke.py
  scripts/llm_smoke.py
  scripts/mcp_readiness_check.py
  scripts/validate_all_services.py
Owners: @ceo, @sophiaai-admin

Phase 1 Complete: Refactored all MCP services to use shared service base
  .github/workflows/neon-migrations.yml
  INFRASTRUCTURE_INITIALIZATION_STATUS.md
  Makefile
  REPOSITORY_STATE_REPORT.md
  STRUCTURAL_IMPROVEMENTS_FOUND.md
  STRUCTURAL_IMPROVEMENT_ANALYSIS_PROMPT.md
  apps/dashboard/.env.local
  config/services.json
  context/context-api/app.py
  context/vector-indexer/worker.py
  docs/NEON_AUTHENTICATION_FIX.md
  docs/NEON_PASSWORDLESS_CONNECTION_GUIDE.md
  maintenance_report.md
  maintenance_todo.md
  mcp/agents-swarm/app.py
  mcp/analytics-mcp/app.py
  mcp/comms-mcp/app.py
  mcp/crm-mcp/app.py
  mcp/enrichment-mcp/app.py
  mcp/gong-mcp/app.py
  mcp/projects-mcp/app.py
  mcp/support-mcp/app.py
  platform/common/service_base.py
  scripts/llm_smoke.py
  scripts/neon_fix_conn.py
  scripts/neon_get_dsn.py
  scripts/neon_init.py
  scripts/neon_passwordless_test.py
  scripts/neon_reset_password.py
  scripts/neon_rest.py
  scripts/phase0-preflight.py
  scripts/psql_passwordless.sh
Owners: @ceo, @sophiaai-admin, @lead-developer, @content-lead, @technical-writer

Add missing requirements and fix import paths for MCP services
  analyze_requirements.py
  mcp/analytics-mcp/app.py
  mcp/crm-mcp/app.py
  mcp/enrichment-mcp/Dockerfile
  mcp/enrichment-mcp/requirements.txt
  mcp/gong-mcp/app.py
  mcp/projects-mcp/app.py
  mcp/support-mcp/Dockerfile
  mcp/support-mcp/requirements.txt
  platform/common/base-requirements.txt
  services/agno-teams/Dockerfile
  services/agno-teams/requirements.txt
  services/agno-wrappers/Dockerfile
  services/agno-wrappers/requirements.txt
  services/mcp-agents/Dockerfile
  services/mcp-agents/requirements.txt
  services/mcp-apollo/Dockerfile
  services/mcp-apollo/requirements.txt
  services/mcp-business/Dockerfile
  services/mcp-business/requirements.txt
  services/mcp-context/Dockerfile
  services/mcp-context/requirements.txt
  services/mcp-github/Dockerfile
  services/mcp-github/requirements.txt
  services/mcp-gong/Dockerfile
  services/mcp-gong/requirements.txt
  services/mcp-hubspot/Dockerfile
  services/mcp-hubspot/requirements.txt
  services/mcp-lambda/Dockerfile
  services/mcp-lambda/requirements.txt
  services/mcp-research/Dockerfile
  services/mcp-research/requirements.txt
  services/mcp-salesforce/Dockerfile
  services/mcp-salesforce/requirements.txt
  services/mcp-slack/Dockerfile
  services/mcp-slack/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

Refactor: Integrate LLM router and cleanup _new files
  .gitignore
  apps/dashboard/src/lib/chatApi.ts
  context/vector-indexer/worker.py
  k8s-deploy/secrets/llm-secrets-new.yaml
  libs/contracts/src/llm.ts
  libs/llm-router/package.json
  libs/llm-router/src/config.ts
  libs/llm-router/src/defaults.ts
  libs/llm-router/src/index.ts
  libs/llm-router/src/types.ts
  libs/openrouter.py
  libs/sophia_core.py
  llm/portkey-llm/app.py
  scripts/seed_knowledge_stack.py
  services/mcp-context/real_embeddings.py
Owners: @ceo, @lead-developer, @sophiaai-admin, @senior-developer

docs: Add comprehensive production deployment and cleanup prompt
  SOPHIA_AI_PRODUCTION_DEPLOYMENT_PROMPT.md
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete Sophia AI platform integration with unified dashboard
  apps/sophia-dashboard/public/favicon.ico
  apps/sophia-dashboard/public/sophia-logo.jpg
  apps/sophia-dashboard/src/app/(dashboard)/agent-factory/page.tsx
  apps/sophia-dashboard/src/app/(dashboard)/agent-swarm/page.tsx
  apps/sophia-dashboard/src/app/(dashboard)/chat/page.tsx
  apps/sophia-dashboard/src/app/(dashboard)/jobs/page.tsx
  apps/sophia-dashboard/src/app/(dashboard)/layout.tsx
  apps/sophia-dashboard/src/app/(dashboard)/settings/page.tsx
  apps/sophia-dashboard/src/app/api/agents/route.ts
  apps/sophia-dashboard/src/app/api/chat/route.ts
  apps/sophia-dashboard/src/app/api/results/route.ts
  apps/sophia-dashboard/src/app/api/status/route.ts
  apps/sophia-dashboard/src/app/globals.css
  apps/sophia-dashboard/src/app/layout.tsx
  apps/sophia-dashboard/src/app/page.backup.tsx
  apps/sophia-dashboard/src/app/page.tsx
  apps/sophia-dashboard/src/app/simple-page.tsx
  backend/mcp/sophia_context_server.py
  deploy-all-mcp.sh
  services/chat-coordinator.py
  services/mcp-context/repository_indexer.py
  services/mcp-gong-app.py
  services/mcp-salesforce-app.py
  services/sophia-brain.py
  services/sophia_brain_context_integration.py
Owners: @ceo, @sophiaai-admin, @lead-developer

refactor: Clean up dashboard and consolidate swarm implementations
  agentic/coding_swarms/main.py.deprecated
  agentic/research_swarms/trend_swarm.py.deprecated
  apps/sophia-dashboard/src/app/layout.tsx
  apps/sophia-dashboard/src/app/page.tsx
  apps/sophia-dashboard/src/components/ChatInterface.tsx
  docs/SWARM_CONSOLIDATION.md
Owners: @ceo, @sophiaai-admin, @lead-developer, @content-lead, @technical-writer

feat: Consolidate swarm implementations into unified service architecture
  apps/sophia-dashboard/src/app/page.tsx
  apps/sophia-dashboard/src/components/SwarmManager.tsx
  apps/sophia-dashboard/src/lib/swarm-client.ts
  services/unified_swarm_service.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Fix fragmented system - make everything actually work! 🚀
  apps/sophia-dashboard/src/app/api/agents/route.ts
  apps/sophia-dashboard/src/app/api/chat/route.ts
  apps/sophia-dashboard/src/app/page.tsx
  docker-compose.unified-swarm.yml
  services/Dockerfile.unified-swarm
  services/github_integration.py
  services/real_swarm_executor.py
  services/sophia-brain.py
  services/unified_swarm_service.py
Owners: @ceo, @sophiaai-admin, @lead-developer

fix: Use GH_PAT_TOKEN instead of GITHUB_TOKEN to avoid detection
  services/github_integration.py
Owners: @ceo, @sophiaai-admin, @lead-developer

Phase 2: Add WebSocket real-time communication and Weaviate RAG
  services/Dockerfile.websocket-hub
  services/real_swarm_executor.py
  services/vector_search.py
  services/websocket_client.py
  services/websocket_hub.py
Owners: @ceo, @sophiaai-admin, @lead-developer

Complete Dashboard Overhaul: Three-Panel Command Center
  DASHBOARD_COMPLETE_OVERHAUL.md
  DASHBOARD_UPGRADE_PLAN.md
  README.md
  agno_sophia_bridge.py
  apps/sophia-dashboard/package.json
  apps/sophia-dashboard/src/app/api/agents/route.ts
  apps/sophia-dashboard/src/app/api/chat/route.ts
  apps/sophia-dashboard/src/app/dashboard/page.tsx
  apps/sophia-dashboard/src/app/globals.css
  apps/sophia-dashboard/src/app/page.tsx
  apps/sophia-dashboard/src/components/ActivityFeed.tsx
  apps/sophia-dashboard/src/components/CommandPalette.tsx
  apps/sophia-dashboard/src/components/ContextPanel.tsx
  apps/sophia-dashboard/src/components/MessageRenderer.tsx
  apps/sophia-dashboard/src/components/NavigationRail.tsx
  apps/sophia-dashboard/src/components/QuickActions.tsx
  apps/sophia-dashboard/src/components/ResizablePanel.tsx
  apps/sophia-dashboard/src/components/RichMessageCard.tsx
  apps/sophia-dashboard/src/components/ViewModeSwitcher.tsx
  example_swarm_usage.py
  services/direct_swarm_api.py
  services/intelligent_planner.py
  services/real_swarm_executor.py
  services/sophia_supreme.py
Owners: @ceo, @sophiaai-admin, @lead-developer, @content-lead

CRITICAL FIX: Restore Neural Branding & Working Chat
  apps/sophia-dashboard/.next/cache/webpack/client-development/4.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/client-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/client-development/index.pack.gz.old
  apps/sophia-dashboard/.next/cache/webpack/server-development/0.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz.old
  apps/sophia-dashboard/.next/server/app/dashboard/page.js
  apps/sophia-dashboard/.next/server/webpack-runtime.js
  apps/sophia-dashboard/.next/static/chunks/app/dashboard/page.js
  apps/sophia-dashboard/.next/static/chunks/webpack.js
  apps/sophia-dashboard/.next/static/webpack/app/dashboard/page.e7e074d3712041c2.hot-update.js
  apps/sophia-dashboard/.next/static/webpack/e7e074d3712041c2.webpack.hot-update.json
  apps/sophia-dashboard/.next/static/webpack/webpack.e7e074d3712041c2.hot-update.js
  apps/sophia-dashboard/.next/trace
  apps/sophia-dashboard/src/app/dashboard/page.tsx
Owners: @ceo, @sophiaai-admin, @lead-developer

FIX: Dashboard visibility - no more black screen
  apps/sophia-dashboard/.next/cache/webpack/server-development/0.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz.old
  apps/sophia-dashboard/.next/server/app-paths-manifest.json
  apps/sophia-dashboard/.next/server/app/dashboard/page.js
  apps/sophia-dashboard/.next/server/webpack-runtime.js
  apps/sophia-dashboard/.next/static/chunks/app/dashboard/page.js
  apps/sophia-dashboard/.next/static/chunks/webpack.js
  apps/sophia-dashboard/.next/static/webpack/0a35f23e3fa037d1.webpack.hot-update.json
  apps/sophia-dashboard/.next/static/webpack/app/dashboard/page.0a35f23e3fa037d1.hot-update.js
  apps/sophia-dashboard/.next/static/webpack/webpack.0a35f23e3fa037d1.hot-update.js
  apps/sophia-dashboard/.next/trace
  apps/sophia-dashboard/src/app/dashboard/page.tsx
Owners: @ceo, @sophiaai-admin, @lead-developer

CRITICAL: Repo audit reveals 170 tech debt score
  CLINE_MCP_SETUP_INSTRUCTIONS.md
  MCP_CLINE_INTEGRATION_STRATEGY.md
  MCP_CONNECTION_FINAL_STEPS.md
  UNIFIED_SOPHIA_FIX.md
  apps/sophia-dashboard/.next/cache/webpack/client-development/4.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/client-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/client-development/index.pack.gz.old
  apps/sophia-dashboard/.next/cache/webpack/server-development/0.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz.old
  apps/sophia-dashboard/.next/trace
  audit_results/repo_state.json
  audit_results/tech_debt.json
  check-all-services.py
  cline-mcp-config.json
  mcp-adapter-fixed.py
  mcp-simple-working.py
  mcp-universal-adapter.py
  scripts/repo_audit.py
  service_health_report.json
  test-adapter-final.py
  test-adapter-startup.py
  test-final-mcp-integration.py
  test-mcp-integration.py
  test-mcp-server-live.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add AGNO dashboard with model router and intelligent planner
  REPO_AUDIT_SWARM_PROMPT.md
  apps/sophia-dashboard/src/app/agno/page.tsx
  apps/sophia-dashboard/src/app/page-unified.tsx
  apps/sophia-dashboard/src/lib/swarm-client.ts
  config/router_policy.json
  services/planning/intelligent_planner_v2.py
  services/real_swarm_executor.py
Owners: @ceo, @sophiaai-admin, @lead-developer

docs: Add SWARM_IMPLEMENTATION_COMPLETE documentation
  SWARM_IMPLEMENTATION_COMPLETE.md
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add integration audit script and fix chat API response format
  apps/sophia-dashboard/src/app/api/chat/unified-route.ts
  apps/sophia-dashboard/src/components/AgentMonitoring.tsx
  reports/audit/20250829-150224/audit_report.json
  reports/audit/20250829-150224/issues.csv
  reports/audit/20250829-150224/short_notes.md
  reports/audit/20250829-151229/audit_report.json
  reports/audit/20250829-151229/issues.csv
  reports/audit/20250829-151229/short_notes.md
  scripts/comprehensive_audit.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Implement comprehensive test coverage and cleanup remediation
  .github/workflows/test.yml
  CLEANUP_REMEDIATION_PLAN.md
  DEPLOYMENT_READINESS_REPORT_20250827_133501.json
  DEPLOYMENT_REMEDIATION_SUMMARY_20250827_133501.md
  DUPLICATE_HANDLING_PLAN.md
  SECRETS_MANAGEMENT.md
  SOPHIA_AI_FINAL_REPORT_20250826_071324.md
  agentic/coding_swarms/main.py.deprecated
  agentic/research_swarms/trend_swarm.py.deprecated
  apps/sophia-dashboard/jest.config.js
  apps/sophia-dashboard/jest.setup.js
  apps/sophia-dashboard/src/components/__tests__/ChatInterface.test.tsx
  apps/sophia-dashboard/src/components/__tests__/SwarmVisualizer.test.tsx
  archive_scan_results/archive_report_20250829_085059.txt
  archive_scan_results/archive_scan_20250829_085059.json
  archive_scan_results/cleanup_archived_20250829_085059.sh
  audit_results/20250829_081609/audit_report.json
  audit_results/20250829_081609/summary.md
  requirements-test.txt
  scripts/archive_scan.py
  scripts/one_time_use_scanner.py
  scripts/run-sophia-locally.sh.backup
  scripts/synthetic_checks.py.backup
  services/mcp-context/app.py
  services/mcp-context/server.py
  services/mcp-github/server.py
  tests/e2e/test_user_journey.py
  tests/integration/test_api_integration.py
  tests/unit/test_mcp_context.py
  tests/unit/test_memory_service.py
  tests/unit/test_model_router.py
  tests/unit/test_swarm_coordinator.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Comprehensive linting infrastructure for syntax and linter error detection
  .bandit
  .flake8
  LINTING_IMPLEMENTATION_COMPLETE.md
  docker-compose.optimized.yml
  nginx.conf.optimized
  nginx/proxy_params.conf
  scripts/lint_python.py
  scripts/run_linter_checks.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete unified Sophia system - single app, single orchestrator
  apps/sophia-dashboard/.next/cache/webpack/server-development/0.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/1.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/2.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/3.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/4.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz.old
  apps/sophia-dashboard/.next/server/app-paths-manifest.json
  apps/sophia-dashboard/.next/server/app/api/chat/route.js
  apps/sophia-dashboard/.next/server/vendor-chunks/next.js
  apps/sophia-dashboard/.next/server/webpack-runtime.js
  apps/sophia-dashboard/.next/trace
  apps/sophia-dashboard/.next/types/app/api/chat/route.ts
  apps/sophia-dashboard/app/api/chat/route.js
  apps/sophia-dashboard/app/api/chat/route.ts
  apps/sophia-dashboard/src/app/api/agents/route.ts
  apps/sophia-dashboard/src/app/api/chat/route.ts
  apps/sophia-dashboard/src/app/api/chat/sophia-supreme.ts
  apps/sophia-dashboard/src/app/api/chat/unified-route.ts
  apps/sophia-dashboard/src/app/api/health/route.ts
  apps/sophia-dashboard/src/app/api/metrics/route.ts
  apps/sophia-dashboard/src/app/api/results/route.ts
  apps/sophia-dashboard/src/app/api/status/route.ts
  scripts/stop-local.sh
  services/agno_orchestrator.py
  services/model_router.py
  services/orchestrator-app.py
  services/sophia-agno-orchestrator.py
  services/sophia_chat_simple.py
  services/sophia_dynamic_api_router.py
  services/sophia_unified.py
  test-sophia.sh
  tests/complete_test_implementations.py
  tests/complete_test_run.log
  tests/comprehensive_sophia_test_plan.py
  tests/comprehensive_test_results.json
  tests/detailed_test_analysis.json
  tests/run_complete_sophia_tests.py
  tests/sophia_test_results.log
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add enterprise orchestrator with advanced features
  apps/sophia-dashboard/app/api/chat/route.ts
  infrastructure/pulumi/Pulumi.yaml
  services/sophia_enterprise.py
  test-enterprise.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

fix: Improve AGNO framework detection and routing
  apps/sophia-dashboard/.next/cache/webpack/server-development/2.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/5.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/6.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz
  apps/sophia-dashboard/.next/cache/webpack/server-development/index.pack.gz.old
  apps/sophia-dashboard/.next/server/app/api/chat/route.js
  apps/sophia-dashboard/.next/server/webpack-runtime.js
  apps/sophia-dashboard/.next/trace
  apps/sophia-dashboard/app/api/chat/route.ts
  test-comprehensive.sh
Owners: @ceo, @sophiaai-admin, @lead-developer
