Repository ai-cherry/sophia-ai-intel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceo, @sophiaai-admin, @lead-developer, @senior-developer, @content-lead, @technical-writer, @database-admin

.github/CODEOWNERS:

# Sophia AI Intelligence Platform - Code Ownership
# =================================================
# 
# This file defines who must review code changes to specific parts of the codebase.
# All pull requests, especially those from the Sophia Builder, require CEO approval.

# Global defaults - CEO approval required for all changes
* @ceo @sophiaai-admin @lead-developer

# Infrastructure and deployment - CEO + Admin required
/.github/ @ceo @sophiaai-admin
/scripts/ @ceo @sophiaai-admin
/fly.toml @ceo @sophiaai-admin
/.env* @ceo @sophiaai-admin
/docker* @ceo @sophiaai-admin
/.infra/ @ceo @sophiaai-admin

# Core services - CEO approval required
/services/ @ceo @sophiaai-admin @lead-developer
/apps/ @ceo @sophiaai-admin @lead-developer

# Libraries and frameworks - Technical approval required
/libs/ @ceo @lead-developer @senior-developer
/packages/ @ceo @lead-developer @senior-developer

# Security and authentication
/libs/persona/ @ceo @sophiaai-admin
/libs/execution/ @ceo @sophiaai-admin
/libs/validation/ @ceo @sophiaai-admin

# Builder system - CEO approval mandatory (Sophia Builder PRs)
/libs/builder/ @ceo @sophiaai-admin
/.github/workflows/sophia-builder.yml @ceo @sophiaai-admin

# Documentation - Content team can approve
/docs/ @ceo @content-lead @technical-writer
/README.md @ceo @content-lead

# Proofs and artifacts - Admin approval sufficient
/proofs/ @sophiaai-admin @lead-developer

# Configuration files - CEO approval required
/package.json @ceo @lead-developer
/tsconfig.json @ceo @lead-developer
/pyproject.toml @ceo @lead-developer
/requirements.txt @lead-developer @senior-developer

# Database schemas and migrations - CEO + DBA approval
/libs/memory/schema.sql @ceo @database-admin
/scripts/*sql @ceo @database-admin

# Special files requiring CEO approval
/LICENSE @ceo
/.gitignore @ceo @lead-developer
/.vscode/ @lead-developer @senior-developer

# Workflow files - CEO approval mandatory
/.github/workflows/ @ceo @sophiaai-admin

# AI-generated code (from Sophia Builder) - Special review process
# These patterns will match PR branches created by the builder
sophia-* @ceo @sophiaai-admin @lead-developer

✅ Update deployment workflow with correct secret names
  .github/workflows/deploy_now.yml
Owners: @ceo, @sophiaai-admin

🚀 EXECUTE: Trigger Render migration deployment
  DEPLOY_NOW
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 Fix deployment workflow - remove npm ci error
  .github/workflows/deploy_now.yml
Owners: @ceo, @sophiaai-admin

🚀 RE-TRIGGER: Fixed Render migration deployment
  DEPLOY_NOW
Owners: @ceo, @sophiaai-admin, @lead-developer

🚨 CRITICAL FIX: Disable legacy Fly.io workflow trigger - Render migration only
  .github/workflows/deploy_all.yml
Owners: @ceo, @sophiaai-admin

🧹 COMPLETE WORKFLOW CLEANUP: Remove all Fly.io legacy workflows, update for Render
  .github/workflows/builder.yml
  .github/workflows/cleanup_personal_org.yml
  .github/workflows/deploy_prove.yml
  .github/workflows/disaster_recovery_drill.yml
  .github/workflows/nightly_health_proofs.yml
  .github/workflows/providers/fly_ops.yml
  .github/workflows/providers/render_ops.yml
  .github/workflows/reset_deploy.yml
  .github/workflows/secrets_sync.yml
  .github/workflows/sophia_infra.yml
Owners: @ceo, @sophiaai-admin

🚀 TEST CLEAN SYSTEM: Trigger Render deployment with zero legacy conflicts
  DEPLOY_NOW
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 CRITICAL FIX: Replace bash script with Python code in deployment workflow
  .github/workflows/deploy_now.yml
Owners: @ceo, @sophiaai-admin

🧪 TEST FIXED DEPLOYMENT: Clean Python workflow without syntax errors
  DEPLOY_NOW
Owners: @ceo, @sophiaai-admin, @lead-developer

🔍 DEBUG: Add comprehensive GitHub Actions secret diagnostics
  .github/workflows/deploy_now.yml
Owners: @ceo, @sophiaai-admin

Fix GitHub Actions secret passing and trigger Render deployment
  .github/workflows/deploy_now.yml
  CODESPACES_SECRET_REFRESH.md
  DEPLOY_NOW
  scripts/direct_render_deployment.py
Owners: @ceo, @sophiaai-admin, @lead-developer

Fix GitHub Actions syntax and npm build command - final deployment
  .github/workflows/deploy_now.yml
  render.yaml
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 FINAL RENDER DEPLOYMENT: Fix all GitHub Actions syntax and npm build issues
  .github/workflows/deploy_all.yml
  DEPLOY_NOW
  apps/dashboard/package-lock.json
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 ENTERPRISE CONTAINERIZED DEPLOYMENT: Complete Render migration with Docker + Pulumi automation
  .github/workflows/container-deploy.yml
  apps/dashboard/Dockerfile
  ops/pulumi/automated_infrastructure.py
  ops/pulumi/components/__init__.py
  ops/pulumi/components/render_service.py
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 DISABLE OLD WORKFLOW: Fixed npm ci issue by disabling deploy_all.yml
  .github/workflows/deploy_all.yml
Owners: @ceo, @sophiaai-admin

🚀 TRIGGER CONTAINERIZED DEPLOYMENT: Fixed workflow routing
  DEPLOY_NOW_CONTAINER_FIX
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 TRIGGER CONTAINERIZED DEPLOYMENT: Force trigger via DEPLOY_NOW
  DEPLOY_NOW
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 COMPLETE MIGRATION: Fly.io/Render → Pure Pulumi Cloud
  .github/workflows/container-deploy.yml
  .github/workflows/deploy_now.yml
  .github/workflows/pulumi-deploy.yml
  DEPLOY_NOW
  DEPLOY_NOW_CONTAINER_FIX
  DEPLOY_RENDER
  apps/dashboard/fly.toml
  apps/dashboard/fly.toml.backup
  docker-compose.yml
  jobs/fly.toml
  nginx.conf
  ops/infra/fly-dashboard.toml
  ops/infra/fly-mcp-context.toml
  ops/infra/fly-mcp-github.toml
  ops/infra/fly-mcp-research.toml
  ops/pulumi/__main__.py
  render.yaml
  scripts/auto_recovery.sh
  scripts/automated_migration_setup.py
  scripts/direct_render_deployment.py
  scripts/execute_migration.sh
  scripts/fix_secrets_mapping.py
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 Add GitHub Actions Lambda Labs deployment - automated cloud deployment
  .github/workflows/lambda-deploy.yml
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

Trigger cloud deployment
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔒 Fix: Remove placeholder secrets from documentation
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

📝 Add clean Pulumi migration documentation without secrets
  docs/PULUMI_MIGRATION_COMPLETE.md
Owners: @ceo, @content-lead, @technical-writer

📝 Add clean Pulumi migration documentation without secrets
  docs/PULUMI_MIGRATION_COMPLETE.md
Owners: @ceo, @content-lead, @technical-writer

🚀 Trigger Pulumi deployment - secrets cleaned
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 Trigger Pulumi deployment - secrets cleaned
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 Fix YAML syntax error in deploy_pulumi.yml
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 Fix YAML syntax error in deploy_pulumi.yml
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 Fix Pulumi action version (v3 -> v4)
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 Fix Pulumi action version (v3 -> v4)
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 Add Pulumi stack selection before deploy
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 Add Pulumi stack selection before deploy
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

📋 Add comprehensive deployment plan with all code and configurations
  DEPLOYMENT_PLAN_COMPLETE.md
Owners: @ceo, @sophiaai-admin, @lead-developer

📋 Add comprehensive deployment plan with all code and configurations
  DEPLOYMENT_PLAN_COMPLETE.md
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 Major deployment improvements: use Pulumi providers, fix config management
  .github/workflows/deploy_pulumi.yml
  ops/pulumi/__main__.py
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 Major deployment improvements: use Pulumi providers, fix config management
  .github/workflows/deploy_pulumi.yml
  ops/pulumi/__main__.py
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 Fix: Remove non-existent pulumi-lambdalabs, use direct API approach
  ops/pulumi/__main__.py
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 Fix: Remove non-existent pulumi-lambdalabs, use direct API approach
  ops/pulumi/__main__.py
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 DEPLOY NOW: All GitHub Secrets configured
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 DEPLOY NOW: All GitHub Secrets configured
  ops/pulumi/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

🚀 SIMPLE DEPLOY: Trigger basic Lambda deployment
  docker-compose.yml
Owners: @ceo, @sophiaai-admin
