Repository ai-cherry/sophia-ai-intel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceo, @sophiaai-admin, @lead-developer, @senior-developer, @content-lead, @technical-writer, @database-admin

.github/CODEOWNERS:

# Sophia AI Intelligence Platform - Code Ownership
# =================================================
# 
# This file defines who must review code changes to specific parts of the codebase.
# All pull requests, especially those from the Sophia Builder, require CEO approval.

# Global defaults - CEO approval required for all changes
* @ceo @sophiaai-admin @lead-developer

# Infrastructure and deployment - CEO + Admin required
/.github/ @ceo @sophiaai-admin
/scripts/ @ceo @sophiaai-admin
/fly.toml @ceo @sophiaai-admin
/.env* @ceo @sophiaai-admin
/docker* @ceo @sophiaai-admin
/.infra/ @ceo @sophiaai-admin

# Core services - CEO approval required
/services/ @ceo @sophiaai-admin @lead-developer
/apps/ @ceo @sophiaai-admin @lead-developer

# Libraries and frameworks - Technical approval required
/libs/ @ceo @lead-developer @senior-developer
/packages/ @ceo @lead-developer @senior-developer

# Security and authentication
/libs/persona/ @ceo @sophiaai-admin
/libs/execution/ @ceo @sophiaai-admin
/libs/validation/ @ceo @sophiaai-admin

# Builder system - CEO approval mandatory (Sophia Builder PRs)
/libs/builder/ @ceo @sophiaai-admin
/.github/workflows/sophia-builder.yml @ceo @sophiaai-admin

# Documentation - Content team can approve
/docs/ @ceo @content-lead @technical-writer
/README.md @ceo @content-lead

# Proofs and artifacts - Admin approval sufficient
/proofs/ @sophiaai-admin @lead-developer

# Configuration files - CEO approval required
/package.json @ceo @lead-developer
/tsconfig.json @ceo @lead-developer
/pyproject.toml @ceo @lead-developer
/requirements.txt @lead-developer @senior-developer

# Database schemas and migrations - CEO + DBA approval
/libs/memory/schema.sql @ceo @database-admin
/scripts/*sql @ceo @database-admin

# Special files requiring CEO approval
/LICENSE @ceo
/.gitignore @ceo @lead-developer
/.vscode/ @lead-developer @senior-developer

# Workflow files - CEO approval mandatory
/.github/workflows/ @ceo @sophiaai-admin

# AI-generated code (from Sophia Builder) - Special review process
# These patterns will match PR branches created by the builder
sophia-* @ceo @sophiaai-admin @lead-developer

🚀 SIMPLE DEPLOY: Trigger basic Lambda deployment
  docker-compose.yml
Owners: @ceo, @sophiaai-admin

📝 Add comprehensive research prompt for deployment troubleshooting
  RESEARCH_PROMPT_DEPLOYMENT.md
Owners: @ceo, @sophiaai-admin, @lead-developer

📝 Add comprehensive research prompt for deployment troubleshooting
  RESEARCH_PROMPT_DEPLOYMENT.md
Owners: @ceo, @sophiaai-admin, @lead-developer

🔧 RESEARCH-BASED FIX: Add pulumi login + proper env vars for each step
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 RESEARCH-BASED FIX: Add pulumi login + proper env vars for each step
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 CRITICAL FIX: Handle multi-line SSH key properly in Pulumi config
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🔧 CRITICAL FIX: Handle multi-line SSH key properly in Pulumi config
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🚀 MAJOR BREAKTHROUGH: Config step fixed! Add Python path fix for Pulumi deployment
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

🚀 MAJOR BREAKTHROUGH: Config step fixed! Add Python path fix for Pulumi deployment
  .github/workflows/deploy_pulumi.yml
Owners: @ceo, @sophiaai-admin

�� DEPLOY TO EXISTING INSTANCE: Use running Lambda Labs GH200 instance 192.222.51.223
  ops/pulumi/__main__.py
Owners: @ceo, @sophiaai-admin, @lead-developer

�� DEPLOY TO EXISTING INSTANCE: Use running Lambda Labs GH200 instance 192.222.51.223
  ops/pulumi/__main__.py
Owners: @ceo, @sophiaai-admin, @lead-developer

🧠 Add comprehensive scalable memory/database architecture analysis and implementation plan
  docs/SCALABLE_MEMORY_DATABASE_ARCHITECTURE.md
Owners: @ceo, @content-lead, @technical-writer

🧠 Add comprehensive scalable memory/database architecture analysis and implementation plan
  docs/SCALABLE_MEMORY_DATABASE_ARCHITECTURE.md
Owners: @ceo, @content-lead, @technical-writer

📝 Add comprehensive AI documentation audit prompt - complete analysis framework
  docs/DOCUMENTATION_AUDIT_PROMPT.md
Owners: @ceo, @content-lead, @technical-writer

📝 Add comprehensive AI documentation audit prompt - complete analysis framework
  docs/DOCUMENTATION_AUDIT_PROMPT.md
Owners: @ceo, @content-lead, @technical-writer

fix: Replace placeholder embeddings with real OpenAI embeddings and add nginx agent routes
  docs/AGENT_SWARM_INTEGRATION_COMPLETE.md
  nginx.conf
  services/mcp-agents/requirements.txt
  services/mcp-context/app.py
  services/mcp-context/real_embeddings.py
Owners: @ceo, @content-lead, @technical-writer, @sophiaai-admin, @lead-developer

fix: Replace placeholder embeddings with real OpenAI embeddings and add nginx agent routes
  docs/AGENT_SWARM_INTEGRATION_COMPLETE.md
  nginx.conf
  services/mcp-agents/requirements.txt
  services/mcp-context/app.py
  services/mcp-context/real_embeddings.py
Owners: @ceo, @content-lead, @technical-writer, @sophiaai-admin, @lead-developer

feat: Implement aggressive Redis caching across research and context services
  DOCUMENTATION_AUDIT_REPORT.md
  services/mcp-context/requirements.txt
  services/mcp-research/app.py
  services/mcp-research/cache_manager.py
  services/mcp-research/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Implement aggressive Redis caching across research and context services
  DOCUMENTATION_AUDIT_REPORT.md
  services/mcp-context/requirements.txt
  services/mcp-research/app.py
  services/mcp-research/cache_manager.py
  services/mcp-research/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

docs: comprehensive documentation audit and critical fixes
  README.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/SOPHIA_UNIFIED_IMPLEMENTATION_PLAN.md
Owners: @ceo, @content-lead, @technical-writer

docs: comprehensive documentation audit and critical fixes
  README.md
  docs/DEPLOYMENT_STRATEGY.md
  docs/SOPHIA_UNIFIED_IMPLEMENTATION_PLAN.md
Owners: @ceo, @content-lead, @technical-writer

feat: Complete Enterprise Kubernetes Architecture for Lambda Labs
  jobs/.dockerignore
  services/mcp-agents/.dockerignore
  services/mcp-business/.dockerignore
  services/mcp-context/.dockerignore
  services/mcp-github/.dockerignore
  services/mcp-hubspot/.dockerignore
  services/mcp-lambda/.dockerignore
  services/mcp-research/.dockerignore
  services/orchestrator/.dockerignore
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete Enterprise Kubernetes Architecture for Lambda Labs
  jobs/.dockerignore
  services/mcp-agents/.dockerignore
  services/mcp-business/.dockerignore
  services/mcp-context/.dockerignore
  services/mcp-github/.dockerignore
  services/mcp-hubspot/.dockerignore
  services/mcp-lambda/.dockerignore
  services/mcp-research/.dockerignore
  services/orchestrator/.dockerignore
Owners: @ceo, @sophiaai-admin, @lead-developer

Update: latest changes and fixes from dev container
  apps/dashboard/nginx.conf
  services/mcp-agents/.dockerignore
  services/mcp-agents/requirements.txt
  services/mcp-context/app.py
Owners: @ceo, @sophiaai-admin, @lead-developer

Update: latest changes and fixes from dev container
  apps/dashboard/nginx.conf
  services/mcp-agents/.dockerignore
  services/mcp-agents/requirements.txt
  services/mcp-context/app.py
Owners: @ceo, @sophiaai-admin, @lead-developer

Update: latest changes and fixes from dev container
  services/mcp-business/app.py
  services/mcp-context/app.py
  services/mcp-context/real_embeddings.py
  services/mcp-research/app.py
  services/mcp-research/cache_manager.py
  services/mcp-research/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

Update: latest changes and fixes from dev container
  services/mcp-business/app.py
  services/mcp-context/app.py
  services/mcp-context/real_embeddings.py
  services/mcp-research/app.py
  services/mcp-research/cache_manager.py
  services/mcp-research/requirements.txt
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add comprehensive Lambda Labs deployment architecture
  libs/agents/code_kraken/orchestrator.py
  nginx.conf
Owners: @ceo, @lead-developer, @senior-developer, @sophiaai-admin

feat: Add comprehensive Lambda Labs deployment architecture
  libs/agents/code_kraken/orchestrator.py
  nginx.conf
Owners: @ceo, @lead-developer, @senior-developer, @sophiaai-admin

feat: Complete www.sophia-intel.ai domain deployment infrastructure
  .github/workflows/deploy-sophia-intel.ai-fixed.yml
  .github/workflows/deploy-sophia-intel.ai.yml
  DOMAIN_DEPLOYMENT_README.md
  nginx.sophia-intel.ai.conf
  scripts/deploy-domain.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete www.sophia-intel.ai domain deployment infrastructure
  .github/workflows/deploy-sophia-intel.ai-fixed.yml
  .github/workflows/deploy-sophia-intel.ai.yml
  DOMAIN_DEPLOYMENT_README.md
  nginx.sophia-intel.ai.conf
  scripts/deploy-domain.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add complete domain deployment automation
  deploy-sophia-intel.ai.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Add complete domain deployment automation with real Lambda Labs credentials
  deploy-and-monitor-fixed.sh
  deploy-and-monitor.sh
  final-deploy-fixed.sh
  final-deploy.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

Phase 1: Critical configuration fixes and deployment improvements
  docker-compose.yml
  fix-nginx-conflict.sh
  nginx.conf
  scripts/secure-deploy.sh
  scripts/validate-env.sh
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete Phases 1.1-1.3: Redis, Qdrant, and PostgreSQL setup
  .htpasswd
  PHASE_3.1_RESOLUTION_SUMMARY.md
  docker-compose.yml
  libs/agents/code_kraken/planners.py
  libs/agents/repository_agent.py
  libs/agents/swarm_manager.py
  libs/sophia_core.py
  monitoring/README.md
  monitoring/alerts.yml
  monitoring/grafana/dashboards/sophia-logs.json
  monitoring/grafana/dashboards/sophia-overview.json
  monitoring/grafana/dashboards/sophia-services.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/loki-config.yml
  monitoring/prometheus.yml
  monitoring/promtail-config.yml
  nginx.conf
  proofs/env_audit.json
  pyproject.toml
  scripts/agent_infrastructure.py
  scripts/data_ingestion_pipeline.py
  scripts/dns_management.py
  scripts/env_check.py
  scripts/init_database.sql
  scripts/seed_knowledge_stack.py
  scripts/setup_qdrant.py
  scripts/setup_redis.py
  scripts/test_complete_integration.py
  scripts/validate-phase3.1.sh
  services/mcp-agents/app.py
  services/mcp-context/app.py
  services/mcp-context/enhanced_app.py
  services/mcp-context/real_embeddings.py
  services/mcp-context/symbol_indexer.py
  services/mcp-hubspot/app.py
  services/mcp-research/app.py
  services/mcp-research/cache_manager.py
  ssl/cert.csr
  tests/integration/test_mcp_services.py
Owners: @ceo, @sophiaai-admin, @lead-developer, @senior-developer, @database-admin

🔒 security: Remove sensitive environment files and add security templates
  .env.production.template
Owners: @ceo, @sophiaai-admin

Implement AGNO Coordinator Service foundation with types, config, coordinator, health checker, and Docker setup
  DEEP_RESEARCH_PROMPT.md
  PHASE_1_PROGRESS_UPDATE.md
  SECRETS_MANAGEMENT_DESIGN.md
  SOPHIA_AI_AGNO_INTEGRATION_ANALYSIS.md
  SOPHIA_AI_AGNO_PRODUCTION_PLAN.md
  SOPHIA_AI_COMPREHENSIVE_IMPLEMENTATION_ROADMAP.md
  SOPHIA_AI_PHASE_1A_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_1B_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_UNIFIED_IMPLEMENTATION_PLAN.md
  services/agno-coordinator/Dockerfile
  services/agno-coordinator/README.md
  services/agno-coordinator/docker-compose.yml
  services/agno-coordinator/package.json
  services/agno-coordinator/src/config/config.ts
  services/agno-coordinator/src/config/featureFlags.ts
  services/agno-coordinator/src/config/types.ts
  services/agno-coordinator/src/coordinator/coordinator.ts
  services/agno-coordinator/src/health/healthChecker.ts
  services/agno-coordinator/src/index.ts
  services/agno-coordinator/tsconfig.json
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete Phase 1A - AGNO Coordinator Service Implementation
  SOPHIA_AI_COMPREHENSIVE_AGNO_INTEGRATION_PLAN.md
  SOPHIA_AI_PHASE_1B_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_2A_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_2B_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_3A_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_3B_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_4_DETAILED_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_5_DETAILED_IMPLEMENTATION.md
  services/agno-coordinator/Dockerfile
  services/agno-coordinator/package.json
  services/agno-coordinator/src/config/types.ts
  services/agno-coordinator/src/coordinator/coordinator.ts
  services/agno-coordinator/src/index.ts
  services/agno-wrappers/src/base/mcp_wrapper.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Complete ClientHealthTeam integration phases 1-3
  SOPHIA_AI_PHASE_3A_TO_END_OPENROUTER_IMPLEMENTATION.md
  SOPHIA_AI_PHASE_3A_TO_END_OPENROUTER_IMPLEMENTATION_COMPLETE.md
  SOPHIA_AI_PHASE_5_DETAILED_IMPLEMENTATION.md
  services/agno-teams/pyproject.toml
  services/agno-teams/src/business/client_health/__init__.py
  services/agno-teams/src/business/client_health/agents/client_success_manager.py
  services/agno-teams/src/business/client_health/agents/support_ticket_analyst.py
  services/agno-teams/src/business/client_health/agents/usage_analyst.py
  services/agno-teams/src/business/client_health/client_health_team.py
  services/agno-teams/src/business/sales_intelligence/__init__.py
  services/agno-teams/src/business/sales_intelligence/agents/competitor_analyst.py
  services/agno-teams/src/business/sales_intelligence/agents/deal_scorer.py
  services/agno-teams/src/business/sales_intelligence/agents/pipeline_analyst.py
  services/agno-teams/src/business/sales_intelligence/agents/revenue_forecaster.py
  services/agno-teams/src/business/sales_intelligence/agents/sales_coach.py
  services/agno-teams/src/business/sales_intelligence/sales_intelligence_team.py
Owners: @ceo, @sophiaai-admin, @lead-developer

feat: Implement ClientHealthTeam integration phases 1-3 successfully
  services/agno-teams/src/business/client_health/client_health_team.py
Owners: @ceo, @sophiaai-admin, @lead-developer
